*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
}

/* metologia BEM */

.main-title{text-align: center;}
.header{background: lightblue;height: 50px;}
.main{background-color: #f2f2f2;width: 100%;}
.main-ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.main-li{
	line-height: 3;
	
}

.main-a{
	text-decoration: none;
	font-size: 1.2em;
	color:green;
}

.main-a:hover{
	background: lawngreen;
	transition: 1s;
}
.banner{
	margin: 1% 0;
	width: 100%;
	height: 250px;
}
.banner img{
	width: 100%;
	height: 250px;
}
.modal{
	display: flex;
	z-index: 1;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color:rgba(0, 0, 0, 0.8)
}
.modal .modal-productos{
	width: 500px;
	padding: 20px;
	background-color: #f2f2f2;
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.modal-productos .producto{
	width: 90%;	
}
.modal-productos .producto img{
	max-width: 100%;
}
.modal-productos .precio-nombre{
	width: 100%;
	background-color: #f2f2f2;
	display: grid;
	grid-template-columns: repeat(1,1fr);
}
.precio-nombre form{
	display: grid;
	flex-wrap: wrap;
	gap: 10px;
}
.grupo{
	width: 90%;
	display: flex;
	margin:2% auto;
}
.grupo-columna{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
.grupo-columna .card{
    width: 90%;
	margin: 5% 0;
	height: auto;
	padding: 20px;
	border-radius: 20px;
	background-color:#fff;
	display: flex;
	flex-wrap: wrap;
}
.card .card-body{
	width: 100%;
	height: 250px;
	margin: 1% auto;
}
.card-body img{
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
.card-body img:hover{
	filter: contrast(90%);
}
.card .card-title{
	border-radius: 1%;
	text-align: start;
	width: 100%;
	margin: 1% auto;
}
.card-title h4{
	font-weight: 300;
}
#alerta{
	position: fixed;
	background-color: blue;
	margin-left: 20%;
}

#alerta1{
	position: fixed;
	background-color: blue;
	margin-left: 20%;
}

#alerta2{
	position: fixed;
	background-color: blue;
	margin-left: 20%;
}

#alerta3{
	position: fixed;
	background-color: blue;
	margin-left: 20%;
}
footer{
	
	width: 100%;
	height: 1%;
	background-color: #34495e;
}
footer .descripcion{
	width: 90%;
}
.descripcion p{
	width: 100%;
	margin: auto;
	text-align: center;
}

/* APLICANDO RESPONSIVE DESIGN */
 @media (max-width:800px){ /*Cuando la vista sea menor a 800px */
	.grupo-columna {
		grid-template-columns: repeat(3,1fr);
	}
	.card .card-body{
		height: 200px;
	}
}